:root {
  --couleur1: #c9e8ff;
  --couleur2: #f2a22e;
  --couleur3: #2ea3f2;
}
body {
  overflow-x: hidden;
  font-family: "Doppio One", sans-serif;
  margin: 0;
  background-color: var(--couleur1);
}
a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
input {
  cursor: pointer;
}
a:hover {
  color: white;
}

/* HEADER */
header {
  height: 100px;
}
#logo {
  position: absolute;
  width: 215px;
  height: 60px;
  left: 30px;
  top: 30px;
}
#home {
  position: absolute;
  right: 200px;
  top: 30px;
}
#profil {
  position: absolute;
  right: 90px;
  top: 30px;
}
.spanpop{
  cursor: pointer;
  width: 300px;
  height: 300px;
  opacity:0;            
  position:absolute; 
  margin-top:100px;
  right:10%;
  color:white;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     transform:scale(0) rotate(-12deg);   
     z-index: 10000;
}
.popupprofil:hover .spanpop, .popupprofil:focus .spanpop{
  transform:scale(1) rotate(0);  
  opacity:1;      
}
/* ACCUEIL */
.titre {
  text-align: center;
}
.themes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 140px;
  height: 140px;
  background-color: var(--couleur2);
  border-radius: 100px;
  font-size: 27px;
  vertical-align: middle;
}
p {
  margin: 0;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.des {
  text-align: center;
  font-size: 22px;
  width: 140px;
}
.boutons {
  display: flex;
  justify-content: space-around;
}
#lancerhtml,
#lancercss,
#lancercg {
  background-color: var(--couleur3);
  font-family: "Doppio One", sans-serif;
  font-size: 17px;
  width: 150px;
  height: 36px;
  border-radius: 50px;
  margin-top: 30px;
  cursor: pointer;
}

.pseudo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  transition: 1.5s;
}
.enlever {
  display: none;
}
#name {
  width: 170px;
  height: 25px;
  margin-top: 40px;
}

#envoyer {
  background-color: var(--couleur3);
  font-family: "Doppio One", sans-serif;
  font-size: 20px;
  width: 130px;
  height: 32px;
  border-radius: 50px;
  margin-top: 30px;
}

form {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formpseudo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -100%;
  height: 270px;
  width: 480px;
  background-color: var(--couleur2);
  border-radius: 50px;
  transition: 1.5s;
}
.test {
  top: 0%;
}
/* Footer */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: -80px;
  height: 120px;
  background-color: var(--couleur3);
}
.footligne1 {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  justify-content: space-around;
}
.reseaux {
  display: flex;
  flex-direction: row;
}
.facebook,
.twitter,
.linkedin,
.youtube {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--couleur1);
  transition: 0.5s;
}
.facebook:hover,
.twitter:hover,
.linkedin:hover,
.youtube:hover {
  color: white;
  background-color: var(--couleur2);
}
#logofooter {
  width: 150px;
  height: 40px;
}
h3 {
  text-align: center;
  font-size: 15px;
}

/* Quiz HTML */
.debut {
  height: 470px;
  width: 900px;
  background-color: var(--couleur2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 3s;
  left: 0%;
}

.debutbye {
  left: -200%;
}
#logohtml {
  width: 140px;
  height: 140px;
}
#commencer {
  background-color: var(--couleur3);
  font-family: "Doppio One", sans-serif;
  font-size: 20px;
  width: 140px;
  height: 34px;
  border-radius: 50px;
}

.questionhtml {
  position: absolute;
  left: 100%;
  right: -100%;
  top: 0%;
  transition: 2s;
}

.question {
  text-align: center;
  font-size: 30px;
}
.containerquestion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 800px;
  background-color: var(--couleur2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.photoq1{
  width: 650px;
  height: 250px;
}
.Q {
  font-size: 27px;
}
.reponse {
  background-color: var(--couleur3);
  font-family: "Doppio One", sans-serif;
  font-size: 20px;
  min-width: 120px;
  padding: 15px 30px 15px 30px;
  min-height: 34px;
  border-radius: 50px;
}

.containerreponse {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.Q {
  text-align: center;
  width: 450px;
}

/* COMPTEUR */
.countdown {
  padding-left: 20px;
  position: relative;
  margin: 0;
  height: 40px;
  width: 40px;
  text-align: center;
}

.countdown-number {
  color: black;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdowncercle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: Black;
  fill: none;
  animation: countdown 21s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

.questioncompteur {
  display: flex;
  justify-content: center;
}

.headresultat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultats {
  display: flex;
  justify-content: space-around;
  min-height: 780px;
}
.colonne1,
.colonne2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.resultat {
  width: 250px;
  height: 80px;
  background-color: var(--couleur2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Doppio One", sans-serif;
}

h3 {
  font-size: 35px;
  margin: 0;
}
.themeresultat {
  font-size: 25px;
}
.score {
  font-size: 40px;
}

.explication {
  width: 850px;
  height: 450px;
  background-color: var(--couleur2);
  border-radius: 20px;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
  position: fixed;
}

.placementcontainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.t1 {
  font-size: 35px;
}
.bonneoumauvaise {
  font-size: 25px;
}
.t2,
.t3,
.t4 {
  font-size: 25px;
  text-align: center;
}
.t4 {
  color: purple;
}

.croix {
  position: relative;
  left: 93%;
  top: 5%;
  cursor: pointer;
}

#photoq12 {
  width: 450px;
  height: 170px;
}
.intrus {
  width: 450px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
}

.ensembleresult {
  position: absolute;
  top: 10%;
  width: 100%;
  opacity: 0;
  transition: 2s;
  pointer-events: none;
}
